@import '../../styles/variables.scss';

.pagination {
    width: 100%;
    margin-top: .8rem;
    display: flex;
    gap: .5rem;

    &__next,
    &__prev{
        background-color: $bg_black;
       color: $bg_white;
    }
    &__next:disabled,
    &__prev:disabled{
        background-color: #00000048;
       color: $bg_white;
       pointer-events: none;
    }
    &__btn,
    &__next,
    &__prev{
        font-family: $f-poppins;
        width: 30px;
        height: 25px;
        border: none;
        border-radius: 100%;
        cursor: pointer;
    }
    &__btn--active {
      background-color: $bg_red;
      color: $bg_white;
    }

    @media (min-width: 500px){
        &{
            justify-content: center;
        }
        &__btn,
        &__next,
        &__prev{
            width: 30px;
            height: 30px;
        }
    }
}