@import '../../styles/variables.scss';

.pagination {
    width: 100%;
    margin-top: .8rem;
    display: flex;
    gap: .5rem;
    overflow-x: auto;

    &__next,
    &__prev{
        background-color: $bg_black;
       color: $bg_white;
       font-size: 1rem;
    }
    &__btn,
    &__next,
    &__prev{
        font-family: $f-poppins;
        width: 30px;
        height: 30px;
        border: none;
        border-radius: 100%;
        cursor: pointer;
    }
    &__btn--active {
      background-color: $bg_red;
      color: $bg_white;
    }

    @media (min-width: 500px){
        &{
            justify-content: center;
        }
    }
}