@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import 'reset';
@import 'variables';
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}
main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.characters,
.comics,
.stories,
.bookmarks {
  width: 80%;
  max-width: 1200px;
  margin: 3rem auto;
  font-family: $f_poppins;
}
