$bg_black: rgb(32,32,32);
$bg_red: rgb(236,28,37);
$bg_white: #ffffff;
$f-poppins: 'Poppins', sans-serif;

/* BREAKPOINTS */

$small_device: 40em;
$medium_device: 48em;
$large_device: 64em;
$xlarge_device: 84em;

